<h1 class="gettitle">visitors</h1>
<h1 class="reload"><a href="/visitors-get">reload data</a></h1>
<h1 class="previous"><a href="visitorspg">go back to visitors page</a></h1>
<div>
    {{# each items }}
        <article class="item">
            <div>id: {{this.id}}</div>
            <div>name: {{ this.name }}</div>
            <div>surname: {{ this.surname }}</div>
            <div>address: {{ this.address }}</div>
            <div>phone: {{ this.phone_number }}</div>
        </article>
    {{/each}}
</div>
